<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBG6HVMRymJAZO-pmyEWXufuaQYgpvw1R0</string>
	<key>GCM_SENDER_ID</key>
	<string>465425172819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.livbogdan.alarmApp</string>
	<key>PROJECT_ID</key>
	<string>alarm-app-ios-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>alarm-app-ios-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465425172819:ios:1f49a8febfa029021af9a6</string>
</dict>
</plist>